h1{
    color: #fff;
    text-align: center;
    font-weight: 600;
    letter-spacing: 2px;
}

h3{
    color: #fff;
    text-align: center;
    padding: 80px 0;
}

.blog{
    color: #fff;
    border: 2px solid pink;
    border-radius: 10px;
    margin: 0 50px;
    p{
        padding: 10px 30px;
    }
}